/* utilites */

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
   margin-bottom: 0;
}

p {
   font-size: 1.9rem;
}

a {
   text-decoration: none;
}

body {
   background-color: #030517;
   /* background-color: #1E1E1E; */
}

/* homepage */
/* notify */
.warning {
   border: 4px solid #D9004C;
   margin-top: 20px;
   color: #E3E3E3;
   padding: 10px;
   align-items: center;
   border-radius: 10px;
   background: rgb(217,0,76, 0.4);
}

.warning-open, #warning {
   display: flex;
}

.warning-close {
   display: none;
}

.warning h5 {
   font-size: 2rem;
}

/* navbar */
#nav {
   background-color: #030517;
   padding: 40px;
}

#nav h2 {
   color: #E3E3E3;
   text-align: center;
}

/* adding product */
.add-product {
   margin-top: 50px;
}

/* .add-product form {
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
} */

.add-product form .input-label {
   color: #e79e19;
   font-size: 2.3rem;
}

.add-product form input[type="text"] {
   max-width: 500px;
   background-color: #E3E3E3;
}

.add-product form .add-btn {
   border-color: #E3E3E3;
   color: #E3E3E3;
}

.add-product form .add-btn:hover {
   border-color: #e79e19;
   color: #e79e19;
}

/* item listing */
.item-list-title h3 {
   color: #e79e19;
   margin-top: 40px;
   /* font-weight: bold; */
}

.item-list {
   margin-bottom: 50px;
}

.item-list .item {
   background-color: #0053C0;
   width: 60%;
   /* min-height: 10px; */
   border-radius: 5px;
   margin-top: 15px;
   display: flex;
   align-items: center;
   /* justify-content: space-between; */
   color: #fff;
   padding: 10px 30px;
}

.item-list .item p {
   padding: 0 5px;
   flex-grow: 1;
}

.item-list .item a {
   padding: 0 5px;
}

.item-list .item a:hover {
   text-decoration: underline;
}

.item-list .item .delete {
   color: #FF3D50
}

.item-list .item .edit {
   color: #23D99C;
}